
# output_dir: /path/to/output/folder # all outputs will be defined relative to this directory
output_dir: /orcd/data/ldlewis/001/om/bashen/repositories/tofmodel/folder # all outputs will be defined relative to this directory
dataset_name: dataset
n_dataset_split: 0
nslice_to_use: 4

# parameters used in the fMRI acquisition protocol
scan_param:
  slice_width: 0.25 # cm
  repetition_time: 0.5 # seconds
  echo_time: 0.03 # seconds
  flip_angle: 45 # degrees
  t1_time: 4 # seconds
  t2_time: 1.5 # seconds
  num_slice: 10
  num_pulse: 300
  num_pulse_baseline_offset: 20
  MBF: 2
  alpha_list: # seconds
    - 0
    - 0.1
    - 0.2
    - 0.3
    - 0.4
    - 0
    - 0.1
    - 0.2
    - 0.3
    - 0.4
    
# parameters for the training dataset
data_simulation:
  frequency_start: 0.01
  frequency_end: 1.01
  frequency_spacing: 0.01
  num_batches: 100
  num_input_features: 5
  input_feature_size: 300
  num_output_features: 1
  output_feature_size: 300
  num_samples: 1000
  Xtype: float64
  Ytype: float64

# parameters to define how the dynamics of the flows are sampled
sampling:

  mode: uniform 

  bounding_gaussians:
    - name: slow
      freq_range: [0.035, 0.065]
      scale: 0.1
      fsd_range: [0.005, 0.03]
    - name: breath
      freq_range: [0.1, 0.3]
      scale: 0.3
      fsd_range: [0.002, 0.01]
      harmonics: # first element is the frequency multiplier, second element is the amplitude divisor
        - [2, 3]
        - [3, 6]
    - name: cardiac
      freq_range: [0.8, 1.0]
      scale: 0.3
      fsd_range: [0.0075, 0.03]

  global_offset: 0.01
  global_lower_bound: 0
  upper_fact: 1.2
  lower_fact: 0.8

  voffset_lower: 0.0
  voffset_upper: 0.0

  cross_sectional_area:
    # areas supplied to the pipeline should be in centimeter units
    # also, a position of x=0 cm must correspond to the edge of the first fMRI slice

    mode: 'straight_tube' # options are ['straight_tube', 'custom', 'collection']

    # specific parameters only for "collection" mode
    path_to_collection: /path/to/area_collection # folder containing area.txt files
    area_scale_lower: 0.8
    area_scale_upper: 1.2
    slc1_offset_lower: -1.0 # cm
    slc1_offset_upper: 1.0 # cm

